.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.box {
    display: flex;
    width: 70%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ddd;
}


.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000080;
    color: white;;
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: -30px;
}

.name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    width: 48%;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

form button {
    padding: 10px;
    background-color: white;
    color: #000080;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    margin-left: 50px;
}

form button:hover {
    background-color: #000080;
    color: black;
   
}
.info-section{
    
}
.icon1 {
    width: 300px;
     margin-top: -450px;
     margin-right: 200px;
  }
.text1{
    margin-top: -450px;
    margin-left: -300px;
}
